/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/less-loader/dist/cjs.js!./src/frontend/styles/chooseDoor.less ***!
  \******************************************************************************************************************************/
.chooseDoor .main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.chooseDoor .main .door {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.chooseDoor .main .door span {
  width: -webkit-fill-available;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #323845;
  margin: 10px 20px;
  border-radius: 5px;
  padding: 5px;
}
.chooseDoor .timer {
  width: -webkit-fill-available;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  background-color: #323845;
  margin: 10px 20px;
  border-radius: 5px;
  padding: 5px;
}

